{# NXOS VXLAN migration config #}
{% for vlan in _vlans_to_migrate %}
vlan {{ vlan.id }}
 name {{ vlan.vlan_name | default(vlan.name) }}
 vn-segment {{ vlan.vni }}
{% endfor %}
!
interface {{ nxos_nve_interface }}
 no shutdown
 host-reachability protocol bgp
 source-interface {{ nxos_nve_source_interface | default(vtep_source_interface) }}
{% for vlan in _vlans_to_migrate %}
 member vni {{ vlan.vni }}
  suppress-arp
  mcast-group {{ vlan.mcast_group | default(vxlan_default_mcast_group) }}
{% endfor %}
