---
# AVD structured configuration for VLAN {{ target_vlan_id }} migration
# Device: {{ _target_device }}

{% set _vxlan_intf = eos_vxlan_interface | default('Vxlan1') %}
{% set _vlan_name = _avd_vlan.vlan_name | default(_avd_vlan.name | default('VLAN' ~ target_vlan_id)) %}
{% set _mcast = _avd_vlan.mcast_group | default(vxlan_default_mcast_group) %}
{% set _vni = _avd_vlan.vni | int %}
{% set _bgp_as = hostvars[_target_device].bgp_as | default(avd_default_bgp_as | default('')) %}
{% set _router_id = hostvars[_target_device].router_id | default(hostvars[_target_device].ansible_host | default('')) %}

# VLAN object for AVD schema validation.
vlans:
  - id: {{ target_vlan_id | int }}
    name: {{ _vlan_name }}
    state: active

# Migration configlet CLI (same intent as roles/cvp_deploy leaf/border templates).
eos_cli: |
  !
  vlan {{ target_vlan_id }}
   name {{ _vlan_name }}
  !
  interface {{ _vxlan_intf }}
   vxlan vlan {{ target_vlan_id }} vni {{ _vni }}
   vxlan vlan {{ target_vlan_id }} multicast group {{ _mcast }}
  !
{% if evpn_enabled | default(false) | bool and _bgp_as | length > 0 and _router_id | length > 0 %}
  router bgp {{ _bgp_as }}
   vlan {{ target_vlan_id }}
    rd {{ _router_id }}:{{ _vni }}
    route-target both {{ _vni }}:{{ _vni }}
    redistribute learned
  !
{% endif %}
{% if _is_borderleaf | bool and avd_build_borderleaf_config | bool and target_vrf | default('default') != 'default' %}
  vrf instance {{ target_vrf }}
   rd {{ _router_id }}:{{ _vni }}
   !
   address-family ipv4
      route-target import evpn {{ _vni }}:{{ _vni }}
  !
  interface {{ _vxlan_intf }}
   vxlan vrf {{ target_vrf }} vni {{ _vni }}
  !
{% endif %}
