vlan_id,vlan_name,service_type,data_center,hostname,os_family,vlan_present,has_port_membership,compute_port_count,compute_ports,uplink_port_count,uplink_ports,compute_mac_count,svi_present,svi_vrf,arp_learned,svi_ips,gateway_vips,timestamp
{% for device in report.devices %}
{{ report.vlan_id }},{{ report.vlan_name }},{{ report.service_type | default('') }},{{ report.data_center | default('') }},{{ device.hostname }},{{ device.os_family }},{{ 'yes' if device.vlan_present else 'no' }},{{ 'yes' if device.has_port_membership else 'no' }},{{ device.compute_ports | default([]) | length }},"{{ device.compute_ports | default([]) | join('; ') }}",{{ device.switch_uplink_ports | default([]) | length }},"{{ device.switch_uplink_ports | default([]) | join('; ') }}",{{ device.endpoint_mac_entries | default([]) | length }},{{ 'yes' if device.svi_present else 'no' }},{{ device.svi_vrf | default('') }},{{ 'yes' if device.arp_learned else 'no' }},"{{ (device.svi_details.ip_addresses | default([])) | join('; ') }}","{{ ((device.svi_details.virtual_router_addresses | default([])) + (device.svi_details.hsrp_addresses | default([]))) | join('; ') }}",{{ _report_timestamp_ms }}
{% endfor %}
