hostname,data_center,os_family,vlan_id,vlan_name,svi_to_remove,trunks_to_prune,vlan_to_delete
{% for host in ansible_play_hosts %}
{% set ref = hostvars[host] %}
{% set dc = ref.data_center | default('unknown') %}
{% set os = ref.network_os_family | default('unknown') %}
{% set decomm_vlans = ref._effective_vlans | default([]) | selectattr('action','equalto','decommission') | list %}
{% set trunks = ref._dry_trunk_interfaces | default([]) %}
{% for vlan in decomm_vlans %}
{% set trunk_list = vlan.explicit_trunk_interfaces | default(trunks) %}
{{ host }},{{ dc }},{{ os }},{{ vlan.id }},{{ vlan.name | default('') }},yes,"{{ trunk_list | join(';') }}",yes
{% endfor %}
{% endfor %}
