{# Border-leaf VRF/VNI import for VXLAN migration #}
{# Ensures the new VRF on VXLAN can reach the legacy VLAN via import of the VNI. #}
!
{% if target_vrf is defined and target_vrf != 'default' and (_device_loopback_ip | default('') | length > 0) %}
vrf instance {{ target_vrf }}
 rd {{ _device_loopback_ip }}:{{ _vlan_to_migrate.vni }}
!
{% endif %}
{% if (_device_bgp_asn | default('') | length > 0) %}
router bgp {{ _device_bgp_asn }}
{% if target_vrf is defined and target_vrf != 'default' and (_device_loopback_ip | default('') | length > 0) %}
 vrf {{ target_vrf }}
  rd {{ _device_loopback_ip }}:{{ _vlan_to_migrate.vni }}
  route-target import vpn-ipv4 {{ _vlan_to_migrate.vni }}:{{ _vlan_to_migrate.vni }}
  route-target export vpn-ipv4 {{ _vlan_to_migrate.vni }}:{{ _vlan_to_migrate.vni }}
!
{% endif %}
{% endif %}
interface Vxlan1
{% if target_vrf is defined and target_vrf != 'default' %}
 vxlan vrf {{ target_vrf }} vni {{ _vlan_to_migrate.vni }}
{% endif %}
!
