{# Arista leaf VXLAN migration configlet #}
{# Applied to: {{ _device_hostname }} #}
!
vlan {{ target_vlan_id }}
{% if _vlan_to_migrate.vlan_name is defined %}
 name {{ _vlan_to_migrate.vlan_name }}
{% endif %}
!
interface {{ eos_vxlan_interface | default('Vxlan1') }}
 vxlan vlan {{ target_vlan_id }} vni {{ _vlan_to_migrate.vni }}
{% set _mcast = _vlan_to_migrate.mcast_group | default(vxlan_default_mcast_group | default(''), true) %}
{% if _mcast | length > 0 %}
 vxlan vlan {{ target_vlan_id }} multicast group {{ _mcast }}
{% endif %}
!
{% set _bgp = _vlan_to_migrate | bgp_vlan_evpn(_device_hostname, _device_bgp_asn | default('', true), _device_loopback_ip | default('', true)) %}
{% if _bgp and (_bgp.missing | default([]) | length == 0) %}
router bgp {{ _bgp.asn }}
 vlan {{ target_vlan_id }}
  rd {{ _bgp.rd }}
{% if _bgp.rt_both | default('') | length > 0 %}
  route-target both {{ _bgp.rt_both }}
{% else %}
  route-target import {{ _bgp.rt_import }}
  route-target export {{ _bgp.rt_export }}
{% endif %}
  redistribute learned
!
{% endif %}
