{# Arista leaf VXLAN migration configlet #}
{# Applied to: {{ _device_hostname }} #}
{% set _vlan_name = (_vlan_to_migrate.vlan_name | default(_vlan_to_migrate.name, true) | string) %}
{% set _vni = _vlan_to_migrate.vni | default(_vlan_to_migrate.l3_vni, true) %}
{% set _vrf = (_vlan_to_migrate.vrf | default('default') | string) %}
{% set _is_gateway = (_device_hostname in (_vlan_to_migrate.gateway_leafs | default([]))) and ((_vlan_to_migrate.service_type | default('')) == 'l3') %}
{% set _virtual = (_vlan_to_migrate.gateway | default('', true) | string) | virtual_gateway_address(_vlan_to_migrate.prefixes | default([])) %}
{% set _prefixes = _vlan_to_migrate.prefixes | default([]) %}
!
vlan {{ target_vlan_id }}
{% if _vlan_name | length > 0 %}
 name {{ _vlan_name }}
{% endif %}
!
{% if _is_gateway %}
interface Vlan{{ target_vlan_id }}
{% if _vlan_name | length > 0 %}
 description {{ _vlan_name }}
{% endif %}
 mtu {{ eos_svi_mtu | default(9214) }}
{% if _vrf not in ['', 'default'] %}
 vrf {{ _vrf }}
{% endif %}
{% if _virtual | length > 0 %}
 ip address virtual {{ _virtual }}
{% endif %}
!
{% endif %}
interface {{ eos_vxlan_interface | default('Vxlan1') }}
 vxlan vlan {{ target_vlan_id }} vni {{ _vni }}
{% set _mcast = _vlan_to_migrate.mcast_group | default(vxlan_default_mcast_group | default(''), true) %}
{% if _mcast | length > 0 %}
 vxlan vlan {{ target_vlan_id }} multicast group {{ _mcast }}
{% endif %}
!
{% set _bgp = _vlan_to_migrate | bgp_vlan_evpn(_device_hostname, _device_bgp_asn | default('', true), _device_loopback_ip | default('', true)) %}
{% if _bgp and (_bgp.missing | default([]) | length == 0) %}
router bgp {{ _bgp.asn }}
 vlan {{ target_vlan_id }}
  rd {{ _bgp.rd }}
{% if _bgp.rt_both | default('') | length > 0 %}
  route-target both {{ _bgp.rt_both }}
{% else %}
  route-target import {{ _bgp.rt_import }}
  route-target export {{ _bgp.rt_export }}
{% endif %}
  redistribute learned
{% if _is_gateway and (_prefixes | length > 0) %}
{% if _vrf not in ['', 'default'] %}
 vrf {{ _vrf }}
{% endif %}
{% for _prefix in _prefixes %}
  network {{ _prefix }}
{% endfor %}
{% endif %}
!
{% endif %}
