{# Arista leaf VXLAN migration configlet #}
{# Applied to: {{ _device_hostname }} #}
!
vlan {{ target_vlan_id }}
{% if _vlan_to_migrate.vlan_name is defined %}
 name {{ _vlan_to_migrate.vlan_name }}
{% endif %}
!
interface {{ eos_vxlan_interface | default('Vxlan1') }}
 vxlan vlan {{ target_vlan_id }} vni {{ _vlan_to_migrate.vni }}
{% if _vlan_to_migrate.mcast_group is defined %}
 vxlan vlan {{ target_vlan_id }} multicast group {{ _vlan_to_migrate.mcast_group }}
{% endif %}
!
{% if evpn_enabled | default(false) | bool %}
router bgp {{ _device_bgp_asn | default(65000) }}
 vlan {{ target_vlan_id }}
  rd {{ _device_loopback_ip | default('0.0.0.0') }}:{{ _vlan_to_migrate.vni }}
  route-target both {{ _vlan_to_migrate.vni }}:{{ _vlan_to_migrate.vni }}
  redistribute learned
!
{% endif %}
